# Practice Questions on Lists and List Comprehension
This notebook contains 20 practice questions on lists and list comprehension, tailored for data science students.

### Question 1:
Create a list of squares of numbers from 1 to 10 using list comprehension.

### Question 2:
Filter out even numbers from a given list using list comprehension. Example input: `[1, 2, 3, 4, 5, 6]`

### Question 3:
Create a list of tuples containing numbers and their cubes for numbers from 1 to 7.

### Question 4:
From the list `['Data', 'Science', 'Machine', 'Learning']`, create a new list with only words containing more than 5 letters.

### Question 5:
Generate a list of all numbers divisible by 3 between 1 and 50 using list comprehension.

### Question 6:
Given a list of names, create a new list of names that start with the letter 'A'.

### Question 7:
Convert a list of strings `['123', '456', '789']` into a list of integers.

### Question 8:
Flatten a 2D list into a 1D list. Example input: `[[1, 2], [3, 4], [5, 6]]`

### Question 9:
Create a list of unique characters from the string `'data science'` using list comprehension.

### Question 10:
Generate a list of 10 random numbers between 1 and 100 and filter out numbers greater than 50.

### Question 11:
Create a list of booleans that indicate if each number in the range 1-10 is even or odd.

### Question 12:
Extract the first letter of each word from the list `['Data', 'Science', 'is', 'fun']`.

### Question 13:
Using list comprehension, generate a list of numbers that are squares of even numbers from 1 to 20.

### Question 14:
Given a list of tuples `[(1, 2), (3, 4), (5, 6)]`, create a list of their sums using list comprehension.

### Question 15:
Create a list of all possible pairs (tuples) from two lists, `[1, 2]` and `['a', 'b']`.

### Question 16:
Write a list comprehension to replace negative numbers in a list with 0. Example input: `[-1, 2, -3, 4]`.

### Question 17:
Count the occurrences of each element in the list `['apple', 'banana', 'apple', 'orange', 'banana']`.

### Question 18:
Generate a list of Fibonacci numbers up to 10 elements using a list comprehension (Hint: Use a loop to build the sequence).

### Question 19:
Reverse each word in the list `['data', 'science', 'rocks']`.

### Question 20:
Filter out all strings with length less than 4 from the list `['AI', 'data', 'science', 'ML', 'learning']`.