# Practice Questions on Lists and List Comprehension
This notebook contains 20 practice questions on lists and list comprehension, tailored for data science students.

### Question 1:
Create a list of squares of numbers from 1 to 10 using list comprehension.

In [63]:
sqrd_num = [x**2 for x in range(1,11)]
print(sqrd_num)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### Question 2:
Filter out even numbers from a given list using list comprehension. Example input: `[1, 2, 3, 4, 5, 6]`

In [65]:
input = [1, 2, 3, 4, 5, 6]
filtered = [x for x in [1, 2, 3, 4, 5, 6] if x%2==0]
print(filtered)

[2, 4, 6]

### Question 3:
Create a list of tuples containing numbers and their cubes for numbers from 1 to 7.

### Question 4:
From the list `['Data', 'Science', 'Machine', 'Learning']`, create a new list with only words containing more than 5 letters.

In [67]:
input = ['Data', 'Science', 'Machine', 'Learning']
output = [x for x in input if len(x)>5]
print(output)

['Science', 'Machine', 'Learning']

### Question 5:
Generate a list of all numbers divisible by 3 between 1 and 50 using list comprehension.

In [71]:
output = [x for x in range(1,51) if x%3 == 0]
print(output)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

### Question 6:
Given a list of names, create a new list of names that start with the letter 'A'.

In [74]:
names = [
    "Alice", "Bob", "Charlie", "Diana", "Ethan", "Fiona", "George", "Hannah", 
    "Isaac", "Jenna", "Kevin", "Lila", "Mason", "Nora", "Oliver", "Paige", 
    "Quinn", "Riley", "Sophia", "Tyler", "Uma", "Victor", "Wendy", "Xander", 
    "Yara", "Zane", "Aaron", "Bella", "Carter", "Delilah", "Elliot", "Faith", 
    "Gavin", "Hailey", "Ian", "Julia", "Kyle", "Liam", "Mia", "Natalie", 
    "Owen", "Penelope", "Quincy", "Ruby", "Samuel", "Tessa", "Uriah", 
    "Vanessa", "Willow", "Xavier", "Yvonne", "Zachary"]

starts_with_A = [x for x in names if x[0]=='A']
print(starts_with_A)

['Alice', 'Aaron']

### Question 7:
Convert a list of strings `['123', '456', '789']` into a list of integers.

In [100]:
input = ['123', '456', '789']
output =  [x for x in input for x in x]
print(output)

['1', '2', '3', '4', '5', '6', '7', '8', '9']

### Question 8:
Flatten a 2D list into a 1D list. Example input: `[[1, 2], [3, 4], [5, 6]]`

In [91]:
input = [[1, 2], [3, 4], [5, 6]]
output = [x for x in input for x in x]
print(output)

[1, 2, 3, 4, 5, 6]

### Question 9:
Create a list of unique characters from the string `'data science'` using list comprehension.

In [105]:
input = 'data science'
output = str([x for x in set(input)])
print(output)

['d', 'e', ' ', 's', 't', 'n', 'i', 'c', 'a']

### Question 10:
Generate a list of 10 random numbers between 1 and 100 and filter out numbers greater than 50.

In [145]:
import random
output = [x for x in random.sample(range(1,101),20) if x>50]
print(output)

[96, 77, 99, 54, 70, 83, 90, 87, 55, 72]

### Question 11:
Create a list of booleans that indicate if each number in the range 1-10 is even or odd.

In [152]:
output = [ 1 if x%2==0 else 0 for x in range(1,11)]
print(output)

[0, 1, 0, 1, 0, 1, 0, 1, 0, 1]

### Question 12:
Extract the first letter of each word from the list `['Data', 'Science', 'is', 'fun']`.

In [149]:
input = ['Data', 'Science', 'is', 'fun']
output =  [x[0] for x in input]
print(output)

['D', 'S', 'i', 'f']

### Question 13:
Using list comprehension, generate a list of numbers that are squares of even numbers from 1 to 20.

In [151]:
output = [x**2 for x in range(1,21) if x%2==0]
print(output)

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400]

### Question 14:
Given a list of tuples `[(1, 2), (3, 4), (5, 6)]`, create a list of their sums using list comprehension.

### Question 15:
Create a list of all possible pairs (tuples) from two lists, `[1, 2]` and `['a', 'b']`.

### Question 16:
Write a list comprehension to replace negative numbers in a list with 0. Example input: `[-1, 2, -3, 4]`.

In [154]:
output = [ 0 if x<0 else x for x in [-1, 2, -3, 4]]
print(output)

[0, 2, 0, 4]

### Question 17:
Count the occurrences of each element in the list `['apple', 'banana', 'apple', 'orange', 'banana']`.

### Question 18:
Generate a list of Fibonacci numbers up to 10 elements using a list comprehension (Hint: Use a loop to build the sequence).

### Question 19:
Reverse each word in the list `['data', 'science', 'rocks']`.

In [162]:
input = ['data', 'science', 'rocks']
output = input[::-1]
print(output)

['rocks', 'science', 'data']

### Question 20:
Filter out all strings with length less than 4 from the list `['AI', 'data', 'science', 'ML', 'learning']`.

In [163]:
input = ['AI', 'data', 'science', 'ML', 'learning']
output = [x for x in input if len(x)>4]
print(output)

['science', 'learning']