# üìù Python Sets - Practice Problems

Welcome! This notebook contains practice problems on Python **sets**.  
Try solving them without looking up the answers. üöÄ  

### **Topics Covered:**
‚úÖ Creating sets (normal, empty, with duplicates)  
‚úÖ Adding, removing, discarding, and popping elements  
‚úÖ Membership tests  
‚úÖ Set operations (union, intersection, difference, symmetric difference)  
‚úÖ Checking subsets and supersets  
‚úÖ Removing duplicates from lists and tuples  
‚úÖ Additional important problems  

Let's get started! üéØ

In [1]:
# 1Ô∏è‚É£ Create a set with at least 5 different numbers.

# Your code here

numbers = {1,2,3,4,5}
print(numbers)
print(type(numbers))

{1, 2, 3, 4, 5}
<class 'set'>

In [4]:
# 2Ô∏è‚É£ Create an **empty set** and verify its type.
empty_set = {}
empty_set_with_method = set()

print(empty_set)
print(empty_set_with_method)
# Your code here

{}
set()

In [5]:
# 3Ô∏è‚É£ Create a set with duplicate values and print it. What do you observe?

# Your code here

duplicate_set = {1,1,1,1,1,1,2,3}
print(duplicate_set)

{1, 2, 3}

In [11]:
# 4Ô∏è‚É£ Add elements **5** and **10** to an existing set `{1, 2, 3, 4}`.

# Your code here

set_1= {1,2,3,4}
print(set_1)
set_1.add(5)
set_1.add(10)
set_1.add(1)
print(set_1)


#we can do it once by using update()

set_2 = {1,2,3,4}
set_2.update([1,5,10])
print(set_2)

{1, 2, 3, 4}
{1, 2, 3, 4, 5, 10}
{1, 2, 3, 4, 5, 10}

In [17]:
# 5Ô∏è‚É£ Remove an element **if it exists**, otherwise handle it gracefully.

# Your code here

set_3 = {1, 2, 3, 4, 5}
print(set_3)
set_3.remove(1)
print(set_3)

#if i need to remove an unavailable value, lets see what happens

#set_3.remove(10) #this will give error

#so to handle this gracefully we use discard

set_3.discard(10) #this will not give error
print(set_3)

#and to remove multiple values.

set_3.difference_update([2,3])
print(set_3)

{1, 2, 3, 4, 5}
{2, 3, 4, 5}
{2, 3, 4, 5}
{4, 5}

In [ ]:
# 6Ô∏è‚É£ Use **discard()** to remove an element from a set.

# Your code here - see above cell

In [ ]:
# 7Ô∏è‚É£ Remove an element using **pop()**. What happens if the set is empty?


# Your code here
set_4 = {1,2,3,4,5}
print(set_4)
set_4.pop()
print(set_4)

empty_set = {}
print(empty_set)
empty_set.pop() #empty set cannot use pop() method, as there is no value to pop

{1, 2, 3, 4, 5}
{2, 3, 4, 5}
{}

TypeError: pop expected at least 1 argument, got 0

In [22]:
# 8Ô∏è‚É£ Clear all elements from a set.

set_clear = {1,2,3,4,5}
print(set_clear)
set_clear.clear()
print(set_clear)
# Your code here

{1, 2, 3, 4, 5}
set()

In [23]:
# 9Ô∏è‚É£ Check if **'apple'** is in the set `{'banana', 'cherry', 'apple'}`.

fruits = {'banana', 'cherry', 'apple'}
print('apple' in fruits)

# Your code here

True

In [25]:
# üîü Perform **union()** of `{1, 2, 3}` and `{3, 4, 5}`.

set_1 = {1, 2, 3}
set_2 = {3, 4, 5}

print(set_1.union(set_2))

# Your code here

{1, 2, 3, 4, 5}

In [26]:
# 1Ô∏è‚É£1Ô∏è‚É£ Perform **intersection()** of `{1, 2, 3}` and `{3, 4, 5}`.

set_1 = {1, 2, 3}
set_2 = {3, 4, 5}

print(set_1.intersection(set_2))

# Your code here

{3}

In [27]:
# 1Ô∏è‚É£2Ô∏è‚É£ Perform **difference()** of `{1, 2, 3}` and `{3, 4, 5}`.

set_1 = {1, 2, 3}
set_2 = {3, 4, 5}

print(set_1.difference(set_2))

# Your code here

{1, 2}

In [28]:
# 1Ô∏è‚É£3Ô∏è‚É£ Perform **symmetric difference()** between `{1, 2, 3}` and `{3, 4, 5}`.

set_1 = {1, 2, 3}
set_2 = {3, 4, 5}

print(set_1.symmetric_difference(set_2))

# Your code here

{1, 2, 4, 5}

In [30]:
# 1Ô∏è‚É£4Ô∏è‚É£ Check if `{1, 2}` is a subset of `{1, 2, 3, 4}`.

set_1 = {1, 2}
set_2 = {1, 2, 3, 4}

print(set_1.issubset(set_2))
print(set_2.issubset(set_1))

# Your code here

True
False

In [34]:
# 1Ô∏è‚É£5Ô∏è‚É£ Check if `{1, 2, 3, 4}` is a superset of `{1, 2}`.

set_1 = {1, 2}
set_2 = {1, 2, 3, 4}

print(set_1.issuperset(set_2))
print(set_2.issuperset(set_1))

# Your code here

False
True

In [1]:
# 1Ô∏è‚É£6Ô∏è‚É£ Remove duplicates from a list `[1, 2, 2, 3, 4, 4, 5]` using sets.
lst = [1, 2, 2, 3, 4, 4, 5]
remove_dup = set (lst)

print(remove_dup)


# Your code here

{1, 2, 3, 4, 5}

In [2]:
# 1Ô∏è‚É£7Ô∏è‚É£ Convert a tuple `(1, 1, 2, 3, 3, 4)` to a set to remove duplicates.

tuple = (1, 1, 2, 3, 3, 4)
remove_dup = set (tuple)

print(remove_dup)

# Your code here

{1, 2, 3, 4}

In [3]:
# 1Ô∏è‚É£8Ô∏è‚É£ Find common elements between `{10, 20, 30, 40}` and `{30, 40, 50, 60}`.

set_1 = {10, 20, 30, 40}
set_2 = {30, 40, 50, 60}

print(set_1.intersection(set_2))

# Your code here

{40, 30}

In [4]:
# 1Ô∏è‚É£9Ô∏è‚É£ Find elements that are in the first set but not in the second.

set_1 = {10, 20, 30, 40}
set_2 = {30, 40, 50, 60}

print(set_1.difference(set_2))

# Your code here

{10, 20}

In [ ]:
# 2Ô∏è‚É£0Ô∏è‚É£ Write a function that takes two sets and returns their union.
set_1 = {10, 20, 30, 40}
set_2 = {30, 40, 50, 60}

print(set_1.union(set_2))

# Your code here

{40, 10, 50, 20, 60, 30}