# üìù Python Sets - Practice Problems

Welcome! This notebook contains practice problems on Python **sets**.  
Try solving them without looking up the answers. üöÄ  

### **Topics Covered:**
‚úÖ Creating sets (normal, empty, with duplicates)  
‚úÖ Adding, removing, discarding, and popping elements  
‚úÖ Membership tests  
‚úÖ Set operations (union, intersection, difference, symmetric difference)  
‚úÖ Checking subsets and supersets  
‚úÖ Removing duplicates from lists and tuples  
‚úÖ Additional important problems  

Let's get started! üéØ

In [ ]:
# 1Ô∏è‚É£ Create a set with at least 5 different numbers.

# Your code here

In [ ]:
# 2Ô∏è‚É£ Create an **empty set** and verify its type.

# Your code here

In [ ]:
# 3Ô∏è‚É£ Create a set with duplicate values and print it. What do you observe?

# Your code here

In [ ]:
# 4Ô∏è‚É£ Add elements **5** and **10** to an existing set `{1, 2, 3, 4}`.

# Your code here

In [ ]:
# 5Ô∏è‚É£ Remove an element **if it exists**, otherwise handle it gracefully.

# Your code here

In [ ]:
# 6Ô∏è‚É£ Use **discard()** to remove an element from a set.

# Your code here

In [ ]:
# 7Ô∏è‚É£ Remove an element using **pop()**. What happens if the set is empty?

# Your code here

In [ ]:
# 8Ô∏è‚É£ Clear all elements from a set.

# Your code here

In [ ]:
# 9Ô∏è‚É£ Check if **'apple'** is in the set `{'banana', 'cherry', 'apple'}`.

# Your code here

In [ ]:
# üîü Perform **union()** of `{1, 2, 3}` and `{3, 4, 5}`.

# Your code here

In [ ]:
# 1Ô∏è‚É£1Ô∏è‚É£ Perform **intersection()** of `{1, 2, 3}` and `{3, 4, 5}`.

# Your code here

In [ ]:
# 1Ô∏è‚É£2Ô∏è‚É£ Perform **difference()** of `{1, 2, 3}` and `{3, 4, 5}`.

# Your code here

In [ ]:
# 1Ô∏è‚É£3Ô∏è‚É£ Perform **symmetric difference()** between `{1, 2, 3}` and `{3, 4, 5}`.

# Your code here

In [ ]:
# 1Ô∏è‚É£4Ô∏è‚É£ Check if `{1, 2}` is a subset of `{1, 2, 3, 4}`.

# Your code here

In [ ]:
# 1Ô∏è‚É£5Ô∏è‚É£ Check if `{1, 2, 3, 4}` is a superset of `{1, 2}`.

# Your code here

In [ ]:
# 1Ô∏è‚É£6Ô∏è‚É£ Remove duplicates from a list `[1, 2, 2, 3, 4, 4, 5]` using sets.

# Your code here

In [ ]:
# 1Ô∏è‚É£7Ô∏è‚É£ Convert a tuple `(1, 1, 2, 3, 3, 4)` to a set to remove duplicates.

# Your code here

In [ ]:
# 1Ô∏è‚É£8Ô∏è‚É£ Find common elements between `{10, 20, 30, 40}` and `{30, 40, 50, 60}`.

# Your code here

In [ ]:
# 1Ô∏è‚É£9Ô∏è‚É£ Find elements that are in the first set but not in the second.

# Your code here

In [ ]:
# 2Ô∏è‚É£0Ô∏è‚É£ Write a function that takes two sets and returns their union.

# Your code here